:root {
    --forest-green: #04431aff;
    --black-coffee: #35292dff;
    --fire-red: #cb242fff;
    --yellow-red: #ffc758ff;
    --tan-crayola: #d19569ff;   

    --titles: 'Festive', cursive;
    --labels:  'Redressed', cursive;
    --small-info:'Lato', sans-serif;
} 
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background-color: #e8e4d63d;
}
.hero-container {
    transform: translateY(25%);
    width: 60%;
    position: absolute;
    text-align: center;
    margin-right: 0;
}
.hero img{
    width: 50vh;
    position: relative;
}
h1{
    font-family: var(--titles);
    color: var(--black-coffee);
    font-size: 10em;
    transform: rotate(-6deg);
    position: relative;
}
h1 span{
    color:var(--forest-green);
}
.container {
    text-align: center;
    min-height: 100vh;
    background-color: var(--black-coffee);
    width: 35%;
    padding: 20px;
    display: block;
    float: right;   
    margin-left: 0;
}
h2{
    margin-top: 10vh;
    margin-bottom: 40px;
    font-family: var(--labels);
    color: #e8e4d6ec;
    font-size: 2.2em;
}
.div-inputs {
    width: 100%;
    text-align: center;
    margin: auto;
}
p, label {
    color: var(--tan-crayola);
    font-family: var(--small-info);
    font-variant: small-caps;
    font-weight: 600;
    font-size: 20px;
}
input[type='number'] {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 8px;
    border-radius: 6px;
    padding: 8px;
    background-color: #e9e6dd;
    color: var(--forest-green);
    font-size: 1.5em;
    font-weight: 600;
    width: 60%;
}
input[type='number']::placeholder{
    font-family: var(--small-info);
    font-size: 16px;
    color:rgba(209, 148, 105, 0.411);
    font-family: var(--small-info);
}
input[type='radio'] {
    font: inherit;
    width: 1em;
    height: 1em;
    margin-bottom: 25px;
}
button {
    margin-top: 30px;
    margin-bottom: 5vh;
    padding: 10px;
    width: 20%;
    font-size: 18px;
    border-radius: 6px;
    border: none;
}
#send:hover{
    background: linear-gradient(140deg, rgb(252, 219, 153), #e8e4d6ec); 
    cursor: pointer;
}
#dev-info{

    text-align: center;
}
#dev-info p, a{
    font-size: 10px;
    color: #e8e4d6ec;
}
#dev-info a{
    text-decoration: none;  
}
.display-none{
    display: none;
}
@media (max-width:1000px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
       overflow: auto;
    }
    h1{
        font-size: 5em;
        transform: rotate(0);
    }
    .hero-container{
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .hero-container button{
        position: relative;
        margin: auto;
        width: 20%;
        background: inherit;
        border-radius: 20px;
        margin-top: 15vh;
        font-size: 1em;
    }
    .hero img{
        width: 30vh;
    }
    .container{
        transform: rotateY(40%);
        position: relative;
        width: 100vw;
    } 
    label{
        width: 100%;
        font-size: 1em;
    }
    .display-none{
        display: none;
    }
}
