:root {
    --forest-green: #04431aff;
    --black-coffee: #35292dff;
    --fire-red: #cb242fff;
    --yellow-red: #ffc758ff;
    --tan-crayola: #d19569ff;   

    --titles: 'Festive', cursive;
    --labels:  'Redressed', cursive;
    --small-info:'Lato', sans-serif;
} 
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background: url('/assets/BG.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.hero-container {
    transform: translateY(25%);
    width: 60%;
    position: absolute;
    text-align: center;
    margin-right: 0;
}
h1{
    font-family: var(--titles);
    color: #eeece5;
    font-size: 10em;
    transform: rotate(-15deg);
    position: relative;
    margin-top: 14vh;
}
.container {
    text-align: center;
    min-height: 100vh;
    background-color: #f7f3e8;
    width: 35%;
    padding: 20px;
    display: block;
    float: right;   
    margin-left: 0;
}
h2{
    margin-top: 10vh;
    margin-bottom: 40px;
    font-family: var(--labels);
    color: var(--black-coffee);
    font-size: 2.2em;
}
.div-inputs {
    width: 100%;
    text-align: center;
    margin: auto;
}
p, label {
    color: var(--tan-crayola);
    font-family: var(--small-info);
    font-variant: small-caps;
    font-weight: 600;
    font-size: 20px;
}
input[type='number'] {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 8px;
    border-radius: 6px;
    padding: 8px;
    background-color: #fcfbf9;
    border: none;
    color: var(--forest-green);
    font-size: 1.5em;
    font-weight: 600;
    width: 60%;
}
input[type='number']::placeholder{
    font-family: var(--small-info);
    font-size: 16px;
    color:#d1946969;
    font-family: var(--small-info);
}
input[type="radio"] {
	appearance: none;
	width: 15px;
	height: 15px;
	border: 2px solid var(--black-coffee);
	border-radius: 50%;
	background-clip: content-box;
	padding: 2px;
    margin-top: 5px;
}
input[type="radio"]:checked {
	background-color: var(--black-coffee);
}
label{
    margin-right: 10px;
}
button {
    margin-top: 30px;
    margin-bottom: 5vh;
    padding: 10px;
    width: 20%;
    border-radius: 6px;
    border: none;
    background-color: #fcfbf9;
    color: var(--black-coffee);
    font-size: 1em;
    font-weight: 400;
}
#send:hover{
    background: linear-gradient(140deg, #d19469cb, #e8e4d6); 
    color: #fcfbf9;
    cursor: pointer;
}
#dev-info{

    text-align: center;
}
#dev-info p, a{
    font-size: 12px;
    color: #d1946969;
}
#dev-info a{
    text-decoration: none;  
}
.display-none{
    display: none;
}
@media (max-width:1000px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
       overflow: auto;
    }
    h1{
        font-size: 5em;
        transform: rotate(0);
    }
    .hero-container{
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .hero-container button{
        position: relative;
        margin: auto;
        width: 20%;
        background: inherit;
        border-radius: 20px;
        margin-top: 15vh;
        font-size: 1em;
    }
    .container{
        transform: rotateY(40%);
        position: relative;
        width: 100vw;
    } 
    label{
        width: 100%;
        font-size: 1em;
    }
    .display-none{
        display: none;
    }
}
